name: CI/CD Pipeline

on:
  push:
    branches:
      - main

env:
  REGISTRY_DOMAIN: registry.benedicttiong.site
  IMAGE_NAME: test-service
  API_HOST: controller.benedicttiong.site
  DEVICE_ID: "test-1"

jobs:
  CI-Pipeline:
    name: 1. CI-Pipeline
    runs-on: ubuntu-latest
    outputs:
      IMAGE_URL: ${{ steps.meta.outputs.IMAGE_URL }}
      VERSION: ${{ steps.meta.outputs.VERSION }}
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - id: meta
        run: |
          VERSION=$(date +%Y%m%d)-$(git rev-parse --short HEAD)
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
          echo "IMAGE_URL=${{ env.REGISTRY_DOMAIN }}/${{ env.IMAGE_NAME }}" >> $GITHUB_OUTPUT
      - uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.IMAGE_URL }}:${{ steps.meta.outputs.VERSION }}
          provenance: false

  CD-Pipeline:
    name: 2. CD-Pipeline
    needs: CI-Pipeline
    runs-on: ubuntu-latest
    steps:
      - name: Get Auth Token
        id: auth
        run: |
          TEMP_TOKEN=$(curl --location --request PUT 'https://controller.benedicttiong.site/api/auth/login' \
            --header 'Content-Type: application/json' --fail --silent \
            --data-raw '{"email": "test@gmail.com", "password": "test"}' | tr -d '"')
          echo "::add-mask::$TEMP_TOKEN"
          echo "TOKEN=$TEMP_TOKEN" >> $GITHUB_ENV

      - name: Install New Version (Green)
        id: install_green
        run: |
          IMAGE_URL_WITH_PREFIX="docker://${{ needs.CI-Pipeline.outputs.IMAGE_URL }}:${{ needs.CI-Pipeline.outputs.VERSION }}"
          # ALIAS="green-${{ needs.CI-Pipeline.outputs.VERSION }}"
          ALIAS=""
          
          curl --location --request PUT 'https://controller.benedicttiong.site/api/device/${{ env.DEVICE_ID }}/stomp/add' \
            --header 'Content-Type: application/json' --header "Authorization: ${TOKEN}" \
            --fail --silent --connect-timeout 10 --max-time 60 \
            --data-raw "{\"allow_partial\": true, \"create_objs\": [{\"obj_path\": \"Device.LCM.LXC.\", \"param_settings\": [{\"param\": \"Alias\", \"value\": \"$ALIAS\"}, {\"param\": \"ImageURL\", \"value\": \"$IMAGE_URL_WITH_PREFIX\"}]}]}"
          
          sleep 10

      - name: Find Green IPs (Write to /tmp/test.txt)
        id: find_green_ip
        run: |
          VERSION_TAG="${{ needs.CI-Pipeline.outputs.VERSION }}"
          curl --location --request PUT 'https://controller.benedicttiong.site/api/device/${{ env.DEVICE_ID }}/stomp/operate' \
            --header 'Content-Type: application/json' --header "Authorization: ${TOKEN}" \
            --silent --connect-timeout 10 --max-time 30 \
            --data-raw "{\"command\": \"Device.DeploymentManager.FindIPsByVersion()\", \"input_args\": { \"VersionTag\": \"$VERSION_TAG\" }}"

      - name: Switch Traffic (Trigger Load Balancer)
        id: switch_traffic
        run: |
          curl --location --request PUT 'https://controller.benedicttiong.site/api/device/${{ env.DEVICE_ID }}/stomp/operate' \
            --header 'Content-Type: application/json' --header "Authorization: ${TOKEN}" \
            --silent --connect-timeout 10 --max-time 30 \
            --data-raw "{\"command\": \"Device.DeploymentManager.SwitchActiveVersion()\", \"input_args\": {}}"